h1 {
  font-family: "Zyablik";
  font-size: 60px;
  color: white;
}
h2 {
  font-family: "Zyablik";
  font-size: 60px;
  color: black;
}
p {
  font-family: "Zyablik";
  font-size: 30px;
  color: white;
}
