@media all and (min-device-width: 769px) and (max-device-width: 1024px){
  .frame1 {
    top: -3vh;
    left: -3vw;
    width: 1091px;
    height: 815px;
    transform: scale(0.94);
  }
  .mask {
    margin-top: 9.5vh;
    margin-left: 21vw;
  }
  .tap {
    top: -23vh;
    left: 74vw;
  }
  .hat {
    top: -103vh;
    left: 67vw;
  }
  .glines {
    top: -155.5vh;
    left: 84.5vw;
  }
  .veer {
    left: 71.5vw;
  }
  .cube {
    top: 58vh;
    left: 76.5vw;
  }
  .oval {
    top: 49vh;
    left: 94.5vw;
  }
  .whtriangle {
    top: -199.5vh;
    left: 73.8vw;
  }
  .half {
    top: -223vh;
    left: -10.4vw;
  }
  .boldpoloski {
    top: -313.5vh;
    left: -11.8vw;
  }
  .pavlin {
    top: -342vh;
    left: 2vw;
  }
  .rain {
    display: none;
  }
  .zigzag {
    top: -343.5vh;
    left: 42vw;
  }
  .scratchesgor {
    top: -445vh;
    left: 8vw;
  }
  .pero {
    top: -436vh;
    left: 27vw;
  }
  .zigzagb{
    top: -491vh;
    left: -0.3vw;
  }
  .voidtriangle {
    top: -554.5vh;
    left: 10.5vw;
  }
  .scratch {
    top: -539vh;
    left: 15.5vw;
  }
  .plane {
    top: -558.5vh;
    left: -2.5vw;
  }
  .drag {
    top: -674vh;
    left: 11.5vw;
  }
  .circlegreen {
    top: -702vh;
    left: -7vw;
  }
  .eyes {
    top: -690vh;
    left: 35vw;
  }
  .nose {
    top: -721vh;
    left: 44.8vw;
  }
  .mouth {
    top: -732vh;
    left: 45.5vw;


  }
  h1 {
    font-size: 52px;
  }
  .zaafro {
    top: -807vh;
    width: 43vw;
    left: 33.4vw;
  }
  .next {
    top: -725.7vh;
    left: 76.6vw;
    height: 9.8vh;
    width: 24.9vw;
  }
  .adv {
    top: -819vh;
    height: 140px;
  }
  .frame2 {
    top: 742px;
    left: -3vw;
    width: 1091px;
    height: 815px;
    transform: scale(0.94);
  }
  .head {
    margin-top: 12vh;
    margin-left: 23vw;
  }
  .patterns {
    margin-top: -710px;margin-left: 18vw;
    height: 750px;
    width: 750px;
  }
  .eyes1 {
    top: -64vh;
    left: 36vw;
  }
  .nose1 {
    top: -95vh;
    left: 46vw;
  }
  .mouth1 {
    top: -106vh;
    left: 47vw;
  }
  .affest {
    top: -189vh;
    left: 4vw;
    width: 302px;
  }
  h2 {
    font-size: 53px;
  }
  .restart {
    background-image: url("../images/button.png");
    width: 138px;
    height: 85px;
    top: -135vh;
    left: 88vw;
  }
  .restart h1 {
   opacity: 0;
  }
  .futter {
   top: -126vh;
   width: 122vw;
  }
  .logo {
    top: 1.3vh;
    left: 4vw;
  }
  p {
    font-size: 32px;
  }
  .afv {
    top: 5vh;
    left: 13.7vw;
    width: 270px;
  }
  .name {
    top: 5vh;
    left: 70vw;
    width: 326px;
  }
  .handl, .handc, .handr {
    transform: scale(0.9);
  }
  .handl {
    top: -224vh;
  }
  .handl1 {
    left: -14vw;
  }
  .handc {
    left: 23.8vw;
  }
  .handc1 {
    top: -302vh;

  }
  .handr {
    background: url("../images/handr1368.png");
    width: 906px;
    height: 559px;
    top: -382vh;
    transform: scale(1);
  }
  .handr1 {
    left: 46vw;
  }
}
